.addButton {float: right;
    margin-top: 3px;
}
.banButton, banButton:hover, banButton:active,
banButton:focus, banButton:visited
{
    padding: 0px 10px;
    border-color: #ff1744 !important;
    background-color: red !important;
    float:right;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color: #eee #eee #ddd;
    background-color: #eee
}
/*.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active, .nav > li > a:visited {*/
    /*background-color: red;*/
/*}*/

/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {*/
    /*border-color: #eee #eee #ddd;*/
    /*background-color: #eee;*/
/*}*/

.nav > .addButton > a:hover, .nav > .addButton > a:focus {
    color: #fff;
    background-color: lightseagreen;
}

.usersPanel {
    margin-top: 60px;
}
.loggedIn  {
    overflow:hidden;
    height:10%;
    padding: 20px 20px 0px 0px ;
}
.loggedIn p, .logout{
    float:right;
    margin-left: 15px;
}
.loggedIn p{
    margin-right: 55px;
}
.nav-tabs {
    border-bottom: none;
}
.roomsList {
    background-color: #fff;
    border: 1px solid #ddd
}
.addButton {
   font-size: 20px;
}
.addButton a {
     color: #fff;
     background-color: #337ab7;
     border-color: #2e6da4;
     margin-right: 0 !important;
     border-radius: 0 !important;
}

.appContainer {
    height: 100vh;
}
.appChat {
    height:85%;
}
.room {
    overflow:hidden ;
    height:100%;
}
.chat {
    height:100%;
}
.textArea{
    height:25%;
}
.newPanel{
    height:10%;
}
.messagesSheet {
    overflow:auto;
    height:70%;
}
.userFormArea {
    height: 15%;
}
.div1 {
    min-height: 20px;
    padding:35px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    width: 45%;
}
li{
    display: block;
    clear: both;
}
.chatImage {
    padding-right: 10px;
    height: 50px;

}

ul.messages {
    padding: 10px;
    list-style-type: none;
    padding-top:45px;
}
ul.messages li {
    position: relative;
    float: left;
    min-width: 25%;
    max-width:55% ;
    background: #f1f0f0;
    border: 4px solid transparent;
    border-radius: 4px;
    padding: 5px;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}
.myMessages {
    background: #0084ff !important;
    color: #fff !important;
    float: right !important;
}
.dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}





