<div class=" appContainer" >

    <div ng-show="showMe">
    <form  class="col-md-12 userFormArea">
    <label>Enter Username and password</label>
    <input ng-model="chatCtrl.username" class = "form-control" id = "username">
    <input type="password" ng-model="chatCtrl.password" class = "form-control" id = "password">
    <br/>
    <input type="submit"  ng-click=" login(chatCtrl.username, chatCtrl.password)" class = "btn btn-primary" value = " Login"/>
    <button type="button" ng-click="changeState()" class="btn btn-primary">Registrate</button>
    </form>
    </div>

    <div ng-hide="showMe "  class="loggedIn appHeader">
        <!--loggedIn-->
    <input type="submit" class = "btn btn-primary logout" ng-click="openInfoModal()" value = " Settings"/>
    <input type="submit" class = "btn btn-primary logout" ng-click="logout()" value = " Logout"/>
    <p> You logged in as <strong> {{username}} </strong> </p>

    </div>

    <div class="appChat">

        <div class="col-md-3 room">
            <div ng-hide="showMe" class = " well " >
            <h3> Rooms</h3>
            <ul class="nav nav-tabs nav-stacked newClass">
            <li class="roomsList addButton" ng-hide="myValue"  ng-click="openAskModal()"><a  >ADD ROOM</a></li>
            <li class="roomsList" ng-click="switchRoom(room)" ng-repeat="room in rooms track by $index"><a href="#tab1" data-toggle="tab" >{{room}}</a></li>
            </ul>

            </div>

            <div ng-hide="showMe" class = " usersPanel well">
            <h3> Online users </h3>
            <ul class = "list-group users" >
            <li class="list-group-item" ng-repeat="user in users track by $index" >{{user}}<button type="button" ng-click="ban(user)" ng-hide="myValue" class="banButton  adminButton btn btn-primary">ban</button></li>

            </ul>

            </div>
        </div>

        <div class="col-md-9 chat">
            <h1 class="chatHeader" ng-show="showMe" >Global chat (log in to speak with other people)</h1>
        <div class="newPanel">
            <p>Users currently in room: <strong ng-repeat="user in onlineUsers"> {{user}} </strong>  </p>
            <p>Unread messages</p>
            </div>
            <form class="textArea" ng-hide="showMe"  >
                <div class = "form-group">
                    <label>Enter Message</label>
                    <textarea class = "form-control"  ng-keypress="myFunct($event,message)"  ng-model="message"> </textarea>
                    <br/>
                    <input type="submit" ng-click="sendMessage(message)" class = "btn btn-primary" value = "Send Message"/>
                </div>
            </form>

            <div class="messagesSheet">
                <div id="chat-box" class="clearfix">
                    <ul class="messages clearfix dont-break-out">
                        <li  class=" messages dont-break-out"  ng-class="{'myMessages': message.myMessage}" ng-repeat="message in messages track by $index"><img class="chatImage" ng-src="{{message.photo}}" > <strong>{{message.nick}}: </strong>{{message.msg}}  </li>

                    </ul>
                </div>
            </div>
    </div>
    </div>
</div>
<script type="text/ng-template" id="courseForm.tmpl.html">

<div class="modal-header">
<button type="button" class="close" ng-click="closeAskModal()" data-dismiss="modal">
<span>×</span>
</button>
</div>
<div class="modal-body">
<form class="course-send-form" ng-submit="askQuestion(room)">
<div class="form-group">
<h1>Add room</h1>
<input type="text" ng-model="room" id="addRoom" class="form-control v-center" required>
</div>

<div class="form-group">
<button type="submit" class="btn btn-primary">Add</button>
</div>
</form>
</div>
</script>
<script type="text/ng-template" id="info.tmpl.html">

<div class="modal-header">
<button type="button" class="close" ng-click="closeInfoModal()" data-dismiss="modal">
<span>×</span>
</button>
</div>
<div class="modal-body">

<form class="course-send-form" ng-submit="submitInfoModal()">

<div class="form-group">
    <p><strong>Image URL</strong></p>
    <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" />

</div>

<div class="form-group">
<p><strong>Nickname</strong></p>
<input type="text" ng-model="nick" class="form-control v-center" >
</div>

<div class="form-group">
<button type="submit" ng-click="add()" class="btn btn-primary">Add</button>
</div>
</form>
</div>
</script>


