<body>
<div class="container" >

    <div class="login-box animated fadeInUp">
        <div class="box-header">
            <h2>Registrate</h2>
        </div>
        <label >Username</label>
        <br/>
        <input ng-model="user.username" type="text" id="usernameReg" required>
        <br/>
        <label >Password</label>
        <br/>
        <input ng-model="user.password" type="password" id="passwordReg" required>
        <br/>
        <a href="/#/login"></a>
        <button ng-click="reg(); showme=false" type="submit">registrate</button>
        <a ng-click="backToGlobal()" ><p class="small">Go to global chat </p></a>
        <br/>
    </div>
</div>
</body>

